.app {
  text-align: center;
}

.form {
  width: 30%;
  margin-right: 0.5rem !important;
}

.button {
  width: 30%;
  margin-left: 0.5rem !important;
  height: 48px;
}

@media (max-width: 400px) {
  .form {
    width: 75% !important;
    margin-right: 0 !important;
    margin-bottom: 0.75rem !important;
  }
  .button {
    width: 75% !important;
    margin-left: 0 !important;
  }
}
